*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-color: whitesmoke;
    color: black;
}
ul, ol{
    list-style-type: none;
}
a{
    text-decoration: none; 
}
.nav-link, .navbar-brand{
    font-size: 1.3rem;
}
.navbar-brand img{
    height: 4.2rem;
}
.nav-item{
    padding: 0rem 1rem;
}
.hero-image{
    background-image: url("./img/ba1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.container-txt-hero{
    width: 100%;
    padding: 1rem;
    margin: auto;
    z-index: 1;
}
.color-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: .6;
}
.container-txt-hero{
   margin: auto;
}
.container-txt-hero h1{
    font-size: 3rem;
 }
.container-card{
    margin: 1rem 2rem 5rem 5rem;
}
.btn-card{
    align-items: center;
    font-weight: bold;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 1rem;
    padding: 0.2rem;
    vertical-align: top;
}
.section-honolulu{
    background-color: rgb(56, 56, 56);
}
input{
    height: 4rem;
}
.container-form{
    font-size: 1.5rem ;
    width: 50%;
}
form p{
    font-size: 1.2rem;
    color: gray;
}
input::placeholder{
    font-size: 1.3rem;
}
.btn-send{
    background-color: rgb(20, 198, 20);
    border:  rgb(20, 198, 20);
    color: whitesmoke;
    height: 3.5rem;
    font-size: 1.6rem;
}
.btn-send:hover{
    background-color: rgb(20, 198, 20)!important;
    color: white;
}
footer{
    background-color: #1c3f53;
    padding: 2rem 0rem;
}
.container-footer{
    margin: auto;
}
.row-footer{
    display: flex;
    justify-content: center;
    text-align: center;
}
.footer-col{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0rem 1rem;
}
.footer-col a{
   
    color: whitesmoke;
    font-size: 1.2rem;
}

@media (min-width: 768px){
    .container-footer{
        width: 80%;
    }
    .container-txt-hero{
        width: 50%;
        margin: 5rem 1rem 0rem 0rem;
    }
    .footer-col{
        width: 15%;
    }

}
@media (min-width: 1025px){
    .container-footer{
        width: 75%;
    }
    .container-txt-hero{
        width: 50%;
        margin: 5rem 1rem 0rem 0rem;
    }
    .footer-col{
        width: 15%;
    }

}
